@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

.megamenu button::after {
  display: none !important;
  content: none !important;
}

.card-box {
  @apply bg-gray-200  h-100 rounded-xl basis-full min-[800px]:basis-[calc(33.333%-14px)] ;
}